    [default]
    DEBUG = false

    BLUEPRINTS = [
        "backend.blueprints.login",
        "backend.blueprints.helloworld",
    ]

    EXTENSIONS = [
        "backend.ext.db",
        "backend.ext.migrate",
        "backend.ext.bcrypt",
    ]

    [development]
    SECRET_KEY = "959561b0-6cc6-11ed-bd7b-93a916ce9dac"
    SQLALCHEMY_DATABASE_URI = "sqlite:///app.db" # CWD
    SQLALCHEMY_TRACK_MODIFICATIONS = false